body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding:0;
  margin:0;
  font-family: "Roboto", sans-serif;
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%;
}

h1 {
  font-size: 40px;
  line-height: 48px;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  line-height: 22px;
  padding: 5px
}

h4 {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
}

h2,
h4,
h5 {
  padding:10px 5%;

}

img {
display: none;
}

.biopic {
  display: none;
}

#lets-connect {
  display: none;
}

#map {
  display: none;
}

#mapDiv {
  display: none;
}

.internationalize{
  display: none;
}

.date-text {
  font-style: italic;
  font-size: 14px;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  line-height: 16px;
  float: right;
}

p {
  font-size: 14px;
  line-height: 21px;
}

a {
  text-decoration: none;
  margin-top: 10px;
  display: block;
  align: left;
}

#skills-h3 {
	align: left;
}

#classes-h3 {
	align: left;
	padding-top: 20px;
	padding-bottom: 5px;
}

.orange {
  background-color: #f5ae23;
}

.orange-text {
  color: #f5ae23;
}

.gray-text {
  color: #a3a3a3;
}

.white-text {
  font-weight: bold;
  color: #fff;
}

.gray {
  background-color: #a3a3a3;
  padding-bottom: 10px;
  clear:both;
}

.light-gray {
  background-color: #f3f3f3;
  padding-bottom: 10px;
  clear:both;
}

.dark-gray {
  background-color: #4a4a4a;
}

.flex-box {
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flex-item{
	
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

span {
  padding: 5px;
}

/* Media queries to handle various device widths */


@media only screen and (max-width: 320px) {

}

@media only screen and (max-width: 480px) {
	.flex-box {
	  display: -webkit-block;
	  display: inline;
	  flex-direction: row;
	  justify-content: center;
	}
}

@media only screen and (min-width: 768px) {
  #skills-h3
}
